<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>个人中心</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>

    <script id="navTpl" type="text/html">
        <li><a href="">首页</a></li>
        {{each data as category}}
        <li><a href="">{{category.name}}</a></li>
        {{/each}}
    </script>
    <script id="loginfoTpl" type="text/html">
        {{user.account}}！您好，欢迎您来到购物！[<a href="../user?opr=logout" class="reg">安全退出</a>]
    </script>

    <script>
        $(function () {
            $.getJSON("/ucenter/region/getbypid", function (r) {
                if (r.code == 200) {
                    for (let province of r.data) {
                        let p = "<option value='" + province.id + "'>" + province.name + "</option>";
                        $("#province").append(p);
                    }
                    getCities();
                }
            });
            $("#province").change(getCities);

            function getCities() {
                $.getJSON("/ucenter/region/getbypid?pid=" + $("#province").val(), function (r) {
                    if (r.code == 200) {
                        $("#city").empty();
                        for (let city of r.data) {
                            let p = "<option value='" + city.id + "'>" + city.name + "</option>";
                            $("#city").append(p);
                        }
                        getAreas();
                    }
                });
                $("#city").change(getAreas);
            }

            function getAreas() {
                $.getJSON("/ucenter/region/getbypid?pid=" + $("#city").val(), function (r) {
                    if (r.code == 200) {
                        $("#city").empty();
                        for (let area of r.data) {
                            let p = "<option value='" + area.id + "'>" + area.name + "</option>";
                            $("#area").append(p);
                        }
                    }
                });
            }

            $("#save").click(function () {
                console.log($("#province").find(":selected").text());
                console.log($("#city").find(":selected").text());
                console.log($("#area").find(":selected").text());
            })

        })
    </script>


</head>
<body class="index">
<div class="ucenter container">
    <div class="header">
        <h1 class="logo">
            <a title="" style="background: url(../static/images/logo.png)" href="../">电子商务平台</a>
        </h1>
        <ul class="shortcut">
            <li class="first"><a href="../ucenter/">个人中心</a></li>
            <li><a href="javascript:$('#main').load('order_list');">我的订单</a></li>
        </ul>
        <p class="loginfo" id="loginfo">

        </p>
    </div>
    <div class="navbar">
        <ul id="navbarUl">

        </ul>
        <div class="mycart">
            <dl>
                <dt>
                    <a href="../cart?opr=view">购物车<b name="mycart_nums"
                                                     id="mycart_nums">0</b>件
                    </a>
                </dt>
                <dd>
                    <a href="../cart?opr=view">去结算</a>
                </dd>
            </dl>
            <!--购物车浮动div 开始-->
            <div class="shopping" id="div_mycart" style="display: none;">
                <dl class="cartlist" id="shopcarDiv">
                </dl>
            </div>
            <script>
            </script>
        </div>
    </div>
    <div class="searchbar">
        <div class="allsort">
            <a href="javascript:void(0);"
               onmouseover="$('#div_allsort').css('display','block')"
               onmouseout="$('#div_allsort').css('display','none')">全部商品分类</a>
            <!--总的商品分类-开始-->
            <ul class="sortlist" id='div_allsort' style="display: none">
                <li>
                    <h2>
                        <a href="">科技</a>
                    </h2>
                </li>
            </ul>
        </div>

        <div class="searchbox">
            <form method='get' action='/search'>
                <input class="text" type="text" name='q' autocomplete="off"
                       placeholder="输入关键字..."/> <input class="btn" type="submit"
                                                       value="商品搜索"/>
            </form>
        </div>
        <div class="hotwords">
            热门搜索：<a href="/search?q=Java">Java</a>
        </div>
    </div>
    <div class="wrapper clearfix">
        <div class="sidebar f_l">
            <img src="../images/front/ucenter/ucenter.gif" width="180"
                 height="40"/>
            <div class="box">
                <div class="title">
                    <h2>交易记录</h2>
                </div>
                <div class="cont">
                    <ul class="list">
                        <li><a href="order_list.html" class="menu">我的订单</a></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="title">
                    <h2 class='bg5'>个人设置</h2>
                </div>
                <div class="cont">
                    <ul class="list">
                        <li><a href="address_list.html" class="menu">地址管理</a></li>
                    </ul>
                    <ul class="list">
                        <li><a href="user_avatar.html" class="menu">修改头像</a></li>
                    </ul>
                    <ul class="list">
                        <li><a href="password_update.html" class="menu">修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main f_r" id="main">
            <div class='tabs'>
                <div class="uc_title m_10 tabs_menu">
                    <label class="current node"><span>地址管理</span></label>
                </div>
                <div class='tabs_content'>
                    <div id="address_list" class="form_content m_10 node">
                        <div class="uc_title2 m_10">
                            <strong>已保存的有效地址</strong>
                        </div>
                        <table class="list_table" width="100%" cellpadding="0"
                               cellspacing="0">
                            <col width="120px"/>
                            <col width="120px"/>
                            <col width="240px"/>
                            <col width="120px"/>
                            <col width="150px"/>
                            <col/>
                            <thead>
                            <tr>
                                <th>收货人</th>
                                <th>所在地区</th>
                                <th>详细地址</th>
                                <th>手机</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="addressdata">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--表单修改-->
            <div class="orange_box" id='address_form'>
                <input type="hidden" id="id" value="">
                <table class="form_table" width="100%" cellpadding="0" cellspacing="0">
                    <col width="120px"/>
                    <col/>
                    <caption>收货地址</caption>
                    <tr>
                        <th><span class="red">*</span> 收货人姓名：</th>
                        <td><input id='accept' class="normal"
                                   type="text"/><label>收货人真实姓名，方便快递公司联系。</label></td>
                    </tr>
                    <tr>
                        <th><span class="red">*</span> 所在地区：</th>
                        <td><select name="province" id="province"></select> <select
                                name="city" id="city"></select> <select name="area" id="area"></select></td>
                    </tr>
                    <tr>
                        <th><span class="red">*</span> 详细地址：</th>
                        <td><input name='address' id='address' class="normal"
                                   type="text"/><label>真实详细收货地址，方便快递公司联系。</label></td>
                    </tr>
                    <tr>
                        <th>手机号码：</th>
                        <td><input name='telphone' id='telphone' class="normal"
                                   type="text"/><label>手机号码，如：13588888888</label></td>
                    </tr>
                    <tr>
                        <th>设为默认：</th>
                        <td><label><input name="type" id="type"
                                          type='checkbox' value='y'></label></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><label class="btn"><input type="button" id="save"
                                                      value="保存"/></label> <label class="btn"><input type="button"
                                                                                                     id="cancel"
                                                                                                     value="取消"/></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="help m_10">
        <div class="cont clearfix">
            <dl>
                <dt>
                    <a href="">购物指南</a>
                </dt>
                <dd>
                    <a href="">订单状态</a>
                </dd>
                <dd>
                    <a href="">购物流程</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="">支付帮助</a>
                </dt>
                <dd>
                    <a href="">支付帮助</a>
                </dd>
                <dd>
                    <a href="">在线支付</a>
                </dd>
                <dd>
                    <a href="">货到付款</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="">配送帮助</a>
                </dt>
                <dd>
                    <a href="">EMS/邮政普包</a>
                </dd>
                <dd>
                    <a href="">商品验货与签收</a>
                </dd>
                <dd>
                    <a href="">配送范围及运费</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="">售后服务</a>
                </dt>
                <dd>
                    <a href="">售后服务</a>
                </dd>
                <dd>
                    <a href="">发票制度</a>
                </dd>
                <dd>
                    <a href="">退货说明</a>
                </dd>
                <dd>
                    <a href="">换货说明</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="">帮助信息</a>
                </dt>
                <dd>
                    <a href="">友情链接</a>
                </dd>
                <dd>
                    <a href="">联系客服</a>
                </dd>
                <dd>
                    <a href="">找回密码</a>
                </dd>
                <dd>
                    <a href="">关于我们</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="footer">
        <p class="links">
            <a href="">关于我们</a>|<a href="">常见问题</a>|<a href="">安全交易</a>|<a
                href="">购买流程</a>|<a href="">如何付款</a>|<a href="">联系我们</a>|<a href="">合作提案</a>
        </p>
        Copyright © 2015-2021 <a class="copyys" target="_blank" href="">蜀ICP备01000010号</a>
    </div>
</div>
</body>
</html>
